/* src/BeerList.css */

.beer-list {
  padding: 16px;
}

.search-input {
  margin: 16px;
  padding: 8px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.beer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
